.teacherLink {
    width: max-content;
    opacity: 0.7;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-primary);
}

.teacherLink:hover {
    text-decoration: underline;
    color: var(--text-primary);
}

.subjectTitle {
    width: max-content;
    max-width: 100%;
    font-size: 22px;
    white-space: nowrap;
    color: var(--text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid {
    display: grid;
    gap: var(--gap);
    grid-template:
        "sidebar search"
        "sidebar content" 1fr / auto 1fr;
}

.filterDiv {
    display: block;
    position: sticky;
    top: calc(56px + var(--gap));
    background: var(--foreground);
    border-radius: 8px;
    padding: 12px 0;
    width: max-content;
    height: max-content;
    z-index: 50;
    grid-area: sidebar;
}

.filterBtn {
    display: none;
}

.subjectTitle:hover {
    text-decoration: underline;
}

.subjectList:not(:first-child) {
    border-top: solid 1px #444;
    border-radius: 0;
}
.subjectList {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
    align-items: center;
    padding: 12px 16px;
}

@media screen and (max-width: 768px) {
    .filterDiv {
        display: none;
    }
    .grid {
        grid-template:
            "search"
            "content" 1fr / 1fr;
    }
    .filterBtn {
        display: flex;
    }
}