.slot {
    --radius: 20px;
    --bottom-radius: 10px;

    background: var(--foreground);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom-left-radius: var(--bottom-radius);
    border-bottom-right-radius: var(--bottom-radius);

    margin-bottom: 30px;
}

.banner {
    position: relative;
    height: 300px;
}

.banner img {
    width: 100%;
    position: absolute;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    user-select: none;
    pointer-events: none;
}

.banner h1, .banner a {
    position: absolute;
    text-shadow: rgba(0,0,0,.7) 2px 0 10px;
}

.banner h1 {
    bottom: 50px;
    left: 20px;
}

.banner a {
    bottom: 30px;
    left: 22px;
    color: white;
    text-decoration: none;
}
.banner a:hover {
    color: wheat;
}

.content {
    padding: 25px;
}

.content section {
    margin-bottom: 20px;
    background-color: var(--foreground-lighter);
    padding: 15px;
    border-radius: 10px;

    border: var(--foreground-lighter-2) solid 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.content section p {
    color: rgb(230,230,230);
}


.modal_p {
    color: rgb(210, 210, 210);
    font-style: italic;
}