.header_div {
    padding: 30px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: 10px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header_div * {
    text-shadow: rgba(0,0,0,.4) 1px 0 10px;
}

.header_div a {
    color: white;
}
.header_div a:hover {
    color: rgb(220,220,220);
    text-decoration: underline;
}

.delete_subject {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.material_slot {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    background: var(--foreground-darker);
    margin-bottom: 10px;
}

.material_slot h2, .material_slot p {
    width: 450px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.slot_with_arrow {
    background: linear-gradient(to right, var(--foreground-darker) 70%, var(--foreground-lighter));
}

.student_slot h2 {
    width: auto;
}

.student_slot > a  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.student_slot h2 {
    margin-left: 15px;
}
.student_avatar {
    height: 50px;
    border-radius: 0;
}

.material_slot * {
    color: white;
}

.empty_text {
    text-align: center;
    font-size: 20px;
    color: rgb(200,200,200);
}

.arrow_style {
    position: absolute;
    right: 20px;
    top: calc(50% - 15px);
    font-size: 30px;
}


.conference_modal_p {
    color: rgb(210, 210, 210);
    font-style: italic;
}

.timetable_cell {
    width: 165px;
    height: 130px;
    background: rgb(37,37,37);
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.timetable_cell p {
    font-size: 20px;
}

.timetable_cell_today {
    background: var(--primary);
}


.modal_item {
    display: block;
    color: white;
}

.modal_item:hover {
    color: rgb(220, 220, 220);
    text-decoration: underline;
}

.modal_conference {
    margin-top: 10px;
}

.segmented {
    margin: 20px 0 !important;
}

.createMaterialButton {
    margin-bottom: 10px;
}

@media only screen and (max-device-width: 768px) {
    .material_slot h2 {
        width: 250px;
        font-size: 20px;
    }
    .material_slot p {
        width: 250px;
        font-size: 14px;
    }

    .header_div {
        padding: 13px;
    }

    .header_div h1 {
        font-size: 23px;
        color: white;
    }
    .header_div a {
        font-size: 14px;
        color: rgb(240, 240, 240);
    }

    .segmented {
        height: 30px;
        align-items: center;
        font-size: 12px !important;
        margin: 10px 0 !important;
    }
    .segmented > * {
        height: 100%;
    }

    .createMaterialDivider {
        margin: 15px 0 !important;
    }

    .deleteSubjectButton {
        font-size: 10px !important;
    }

    .student_slot h2 {
        font-size: 18px;
    }

    .title {
        font-size: 30px;
    }

    .homework_title {
        font-size: 25px;
        text-align: center;
    }
}