.Link {
    color: var(--text-primary);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
    transition: color 0.3s ease;
    padding: 6px 8px;
    border-radius: 4px;
}

.Link:hover {
    background: var(--foreground-lighter-1_5);
    color: var(--text-primary);
    opacity: 1;
}

.Link.isActive {
    opacity: 1;
    background: var(--foreground-lighter);
    color: var(--text-primary);
}
