.container {
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: start;
    gap: var(--gap);
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: sticky;
    top: calc(56px + var(--gap));
    background: var(--foreground);
    border-radius: 8px;
    padding: 12px 16px;
    overflow: clip;
    text-wrap: nowrap;
}

.linkContent {
    display: flex;
    gap: var(--gap);
    align-items: center;
}

.Link {
    color: var(--text-primary);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
    transition: color 0.3s ease;
    padding: 6px 8px;
    border-radius: 4px;
}

.Link:hover {
    background: var(--foreground-lighter-1_5);
    color: var(--text-primary);
    opacity: 1;
}

.Link.isActive {
    opacity: 1;
    background: var(--foreground-lighter);
    color: var(--text-primary);
}

.modal_avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto auto 10px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .sidebar {
        margin-bottom: var(--gap);
        flex-direction: row;
        position: static;
        gap: var(--gap-half);
        overflow-x: auto;
    }

    .sidebar::-webkit-scrollbar {
        display: none;
    }
}