.main_div {
    margin-top: 15px;
}
.main_div > * {
    margin-bottom: 15px;
}

.question {
    background: var(--foreground-lighter);
    padding: 15px;
    border-radius: 10px;
}

.question_order_buttons {
    float: right;
}

.question section:not(:last-child) {
    margin-bottom: 10px;
}

.answers_div > div:not(:last-child) {
    margin-bottom: 15px;
}

.answer {
    background: var(--foreground-lighter-2);
    border-radius: 10px;
    padding: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    margin-bottom: 10px;
}

.answer h4 {
    margin-right: 5px;
}
.answer h4:not(:first-child), .answer button {
    margin-left: 10px;
}

.answer input[type="text"] {
    flex: 1;
}

.center_btn {
    width: fit-content;
    display: block;
    margin: auto;
}


@media only screen and (max-device-width: 768px) {
    .answer {
        display: block;
    }

    .answer_input {
        display: block;
        margin-top: 10px !important;
    }

    .answer_title {
        width: fit-content;
        display: inline-block;
    }

    .answer_checkbox {
        display: inline-block;
    }

    .answer_buttons {
        margin-top: 10px;
        width: fit-content;
        display: block;
        margin-left: auto;
    }

    .answer_buttons > * {
        display: inline-block;
    }
    .answerDeleteButton {
        position: relative;
        top: 2px;
        left: 8px;
        transform: scale(1.38);
    }
}