* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: clip;
}
.ant-collapse-ghost >.ant-collapse-item >.ant-collapse-content >.ant-collapse-content-box {
    padding-block: 0px !important;
    padding-bottom: 16px !important;
}
:root {
    --gap: 16px;
    --gap-half: 8px;
    --background: #0A0A0A;
    --foreground-darker: #181818;
    --foreground: #1b1b1b;
    --foreground-lighter: #252525;
    --foreground-lighter-2: #2d2d2d;
    --scrollbar: #2b2b2b;
    --header: rgba(31,31,31,0.85);
    --primary: #8458dd;
    --primary-light: #ab7ae0;
    --text-primary: #ffffffd9;
}

::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 12px;
    border: 3px solid var(--scrollbar);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #818181;
}

::-webkit-scrollbar {
    background-color: var(--scrollbar);
    width: 14px;
    height: 16px;
    z-index: 99999;
}
::-webkit-scrollbar-button {
    display: none;
}